{% extends 'layout.html' %}
{% block body %} 
    <h1>This is the About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aut quasi consequatur eaque doloribus explicabo perspiciatis tenetur magnam cum odio rerum quo a debitis qui perferendis, non iste repellat assumenda eligendi, incidunt error distinctio expedita molestias! Illo, laborum quo saepe minima harum itaque placeat nihil provident nemo fuga animi quae porro sint debitis impedit, veniam praesentium ad molestias, laboriosam nesciunt at voluptates quisquam error rem. Expedita omnis error, totam autem eligendi quod commodi maiores possimus laudantium earum. Dolores facere eveniet vel maxime impedit tempore corrupti quaerat corporis alias? Reprehenderit consequuntur temporibus accusamus dolorum alias esse natus nobis quo excepturi quam.</p> 
{% endblock body %}
    
