<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {% block title %}
        {% if title %}
           <title> Simple|{{ title }}</title>
        {% else %}
           <title>Simple</title>
        {% endif %}
    {% endblock title %}
</head>
<body>
{% if current_user.is_authenticated %}
   <a href="{{ url_for('logout') }}">Log Out</a>
{% else %}
<a href="{{ url_for('index') }}">Home</a>
<a href="{{ url_for('about') }}">About</a>
<a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('create_account') }}">Sign Up</a>
{% endif %}
   
{% block body %}
    
{% endblock body %}
</body>
</html>
