{% extends 'layout.html' %}
{% block body %}
   <form action="{{url_for('create_account')}}" method="POST">
    <div class="container">
        <h1>Create An Account</h1>
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class='myfield') }}
            <br><br>
            {{ form.email.label }}
            {{ form.email(class='myfield') }}
            <br><br>
            {{ form.password.label }}
            {{ form.password(class='myfield') }}
            <br>
            {{ form.submit(class='mybtn') }}
        </div>
    </div>
   </form>
{% endblock body %}